@tailwind base;
@tailwind components;
@tailwind utilities;

// logo

.logo {
  @media (max-width: 400px) {
    display: none;
  }
}

.submenuGSAP {
  transform: translateY(.5rem);
  position: absolute;
  width: 100%;
  display: none;
  background: #1f2937;
  a {
    &:hover {
      background: #374151;
    }
  }
}
